.form-container-sign{
    box-sizing: border-box;
width: 500px;
height: 770px;
margin: 13px auto;
background: #FFFFFF;
border: 1px solid #95A0A7;
border-radius: 8px;
padding: 0px 30px;
}
.shadow-sign{
    padding: 5px;
position: absolute;
width: 520px;
height: 780px;
left: 520px;
top: 154px;

background: #FFE0B3;
border-radius: 8px;
margin: 20px ;
}
.form-title-sign{ 
    width: 83px;
    height: 42px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 42px;
    /* identical to box height */
    
    letter-spacing: 0.0025em;
    
    color: #2A414F;
    margin: 30px auto;
    }
    .form-controls{
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .form-controls label{
 
        width: 41px;
        height: 20px;
        padding: 20px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 20px;
        letter-spacing: 0.0015em;
        
        color: #2A414F;
        display: block;
        
        }
        .form-controls input{
            box-sizing: border-box;
        width: 415px;
        height: 55px;
        border: 1px solid #95A0A7;
        border-radius: 5px;
        font-size: 1.5em;
        padding-left: 5px;
        }

        .link-text{
            text-decoration: none;
            color:#586b03;
            font-weight: 500;
        font-size: 17px;
        }

        .text-error{
            color:red;
            text-align: center;
        }